<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="JalalLinuX Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_KEY" value="base64:2fl+Ktvkfl+Fuz4Qp/A75G2RTiWVA/ZoKZvp6fiiM10="/>
        <env name="DB_CONNECTION" value="testing"/>

        <env name="THINGSBOARD_BASE_URI" value="localhost:9090"/>
        <env name="THINGSBOARD_CACHE_DRIVER" value="file"/>
        <env name="THINGSBOARD_EXCEPTION_THROW_BOOL_METHOD" value="true"/>

        <env name="THINGSBOARD_ADMIN_MAIL" value="sysadmin@thingsboard.org"/>
        <env name="THINGSBOARD_ADMIN_PASS" value="sysadmin"/>

        <env name="THINGSBOARD_TENANT_MAIL" value="tenant@thingsboard.org"/>
        <env name="THINGSBOARD_TENANT_PASS" value="tenant"/>

        <env name="THINGSBOARD_CUSTOMER_MAIL" value="customer@thingsboard.org"/>
        <env name="THINGSBOARD_CUSTOMER_PASS" value="customer"/>
    </php>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
</phpunit>
